actions:
  1:
    action: snapshot
    description: >-
     Delete and and storing snapshot in s3 of {{ index1 }}  indices
    options:
      repository: s3-backup
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: regex
      value: '^{{ index1 }}-*'
      exclude: false
    - filtertype: age
      source: creation_date
      direction: older
      unit: days
      unit_count: {{ time_stamp }}
      timestring: "%Y.%m.%d"
    - filtertype: closed                                
      exclude: True 

  2:
    action: delete_indices
    options:
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: regex
      value: '^{{ index1 }}-*'
      exclude: false
    - filtertype: age
      source: creation_date
      direction: older
      unit: days
      unit_count: {{ time_stamp }}

