actions:
  1:
    action: snapshot
    description: >-
     Delete indices which is older than 07 days (based on index name), for logstash-
     prefixed indices. Ignore the error if the filter does not result in an
     actionable list of indices (ignore_empty_list) and exit cleanly.
    options:
      repository: s3-backup
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: prefix
      value: {{ index2 }}
    - filtertype: age
      source: name
      direction: older
      unit: days
      unit_count: 10
      timestring: "%Y.%m.%d"
    - filtertype: closed
      exclude: True


  2:
    action: delete_indices
    options:
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: prefix
      value: {{ index2 }}
    - filtertype: age
      source: name
      direction: older
      unit: days
      unit_count: 10
      timestring: "%Y.%m.%d"

