#!/bin/sh

curl --header "content-type: application/JSON" -XPUT 'http://{{ es_host_ip }}:{{ es_port }}/_snapshot/s3-backup' -d @/usr/share/elasticsearch/json.txt 

curator --config /usr/share/elasticsearch/curator.yml /usr/share/elasticsearch/Action_file_1.yml

sed -i 's/{{ index1 }}/{{ index2 }}/g' /usr/share/elasticsearch/json.txt

curl --header "content-type: application/JSON" -XPUT 'http://{{ es_host_ip }}:{{ es_port }}/_snapshot/s3-backup' -d @/usr/share/elasticsearch/json.txt

curator --config /usr/share/elasticsearch/curator.yml /usr/share/elasticsearch/Action_file_2.yml

sed -i 's/{{ index2 }}/{{ index1 }}/g' /usr/share/elasticsearch/json.txt

