# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: {{ mongo_storage_path }}
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ mongo_log_path }}

# network interfaces
net:
  port: {{ mongo_port_num }}
  bindIp: {{ ansible_default_ipv4.address }}

#processManagement:

#security:

#operationProfiling:

#replication
{% if replication_enabled == 'yes' %}
replication:
   replSetName: {{ replica_set_name }}
{% endif %}
#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:
